.test {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: rgba(138, 135, 109, 0.69);
    border-radius: 15px;
    margin-top: 80px;
    gap: 40px;
    align-content: center;
}

.test > h2 {
    margin: 0;
    font-size: 2.5em;
    color: #262670;
    text-align: center;
}
