.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
    padding: 10px;
    gap: 40px;
    background-color: rgba(174, 168, 168, 0.67);
}






